@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 45, 217, 1) 100%
    )
    no-repeat fixed center;
}
*::-webkit-scrollbar {
  width: 0rem;
}
